#ast - native with python
opencv-python
opencv-contrib-python
imgaug
imutils
#json - native with python
matplotlib
numpy
pandas
#pickle - native with python
#PIL - replaced by pillow
pillow
imagehash
#shapely - install manually on windows
#urllib - native with python

